name: CI Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: List files (to confirm checkout)
        run: ls -a
      - name: Run a script
        run: echo "Code is accessible here"
