jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Run a script
        run: |
          echo "Repository checked out successfully!"
          ls -l
